.main-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
}
td {
    align-content: center;
}
.sub-categories-table {
    width: 100%;
    border-collapse: collapse;
}

.category-row {
    cursor: pointer;
    &.expanded-category {
        background-color: #75b798 !important; // Green style for expanded category
    }
}

.sub-categories-row {
    td {
        padding: 10px; /* Adjust as needed */
        border: 1px solid #ccc;
        background-color: #007bff8a; // Red style for sub-categories
        color: white;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    background-color: #f3f3f3;
}
